<form (ngSubmit)="onSubmitSignup()" #signupForm="ngForm">
  <div class="example-container">
    <!--<mat-form-field>-->
    <!--<input matInput placeholder="Input">-->
    <!--</mat-form-field>-->
    <mat-form-field>
      <textarea matInput placeholder="Textarea">First name</textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </div>
</form>
